* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-nav {
  min-height: 55px;
  background-color: #888;
}

.hero {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
}

.calls-to-action {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 200px;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3rem 0;
}

.cta-icon {
  font-size: 3.5rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

.cta a {
  background-color: #022a50;
  border-radius: 1rem;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cta a:hover,
.cta a:focus {
  background-color: #011c36;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.55);
  transform: scale(1.03) perspective(1px);
}

.cta-one {
  background-color: #003970;
}

.cta-two {
  background-color: #00468c;
}

.cta-three {
  background-color: #0058af;
}

.welcome-section {
  padding: 3rem 0;
  text-align: center;
}

.welcome-title {
  color: #003970;
  font-size: 2.8rem;
  margin-bottom: 1.4rem;
}

.welcome-section p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.btn-container {
  margin-top: 2rem;
}

.btn {
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background-color: #aa0027;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #8d001c;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.55);
  transform: scale(1.05) perspective(1px);
}

.btn-container a:not(:first-child) {
  margin-left: 0.8rem;
}

hr.bna-divider {
  margin: 3em 0;
  padding: 0;
  border: none;
  border-top: 1px solid #0058af;
  text-align: center;
}

hr.bna-divider:after {
  content: url(../assets/flourish.jpg);
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.home-mortgage {
  padding: 3rem 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.55)
    ),
    url(../assets/house.jpg);
  background-size: cover;
  background-position: bottom;
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
}

.home-mortgage p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.mortgage-wrapper {
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem 1.6rem;
  margin-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.35);
}

/* -------------------- */
/* MEDIA QUERIES */
/* -------------------- */

@media only screen and (max-width: 952px) {
  .calls-to-action {
    grid-template-columns: repeat(1, 1fr);
  }
  .welcome-section {
    padding: 3rem 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .welcome-section .btn-container {
    text-align: center;
  }
  .welcome-section .btn-container .btn {
    display: block;
    max-width: 160px;
    margin: 0 auto;
  }
  .welcome-section .btn-container a:not(:first-child) {
    margin-top: 0.8rem;
  }
}
